*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: black;
  font-family: arial;
  font-size: 13px;
}

header{
height: 65px;
background: #282828
}

.cont-head{
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100%;
}

.cont-head img{
  width: 80px;
  height: 100%;
}

.container{
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 200px;
}

.album{
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% / 5) - 35px);
  margin: 15px;
  border-radius: 7px;
  padding: 20px;
  background: #282828;
  position: relative;
}

.album:hover{
  cursor: pointer;
}

.album:hover .cerchio{
  display: flex;
  align-items: center;
  justify-content: center;
}


.album img{
  width: 100%;
  height: 140px;
  align-self: center;
  box-shadow: 1px 1px 1px #000000b0;
  border-radius: 3px;

}

.info{
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 13px;
}

.info p{
  color: #9d9797;
  font-weight: 600;
}

.info p:nth-child(1){
  color: #ffffffde;
}

.cerchio{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #00cf00;
  box-shadow: 1px 1px 1px #000000b0;
  color: white;
  display: none;
  font-size: 11px;
}

.cerchio:hover{
  cursor: pointer;
  transform: scale(1.05)
}
